* {
	margin: 0px;
	padding: 0px;
	color: #ffcc00;
	scroll-behavior: smooth;
	font-family: 'Orbitron', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
	background-color: #333;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #555;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #888;
}


nav {
	background-color: #444;
	padding: 5px;
	position: fixed;
	width: 100%;
	font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a button {
	background-color: #444;
	transition: all 0.5s ease;
	opacity: 0.8;
	color: #fff;
	border: none;
	outline: none;
	float: right;
	cursor: pointer;
	padding: 30px 16px;
	margin: 0px 10px;
	font-size: 18px;
	font-weight: bold;
	width: 12%;
	border-radius: 12px;
}

nav a button:hover {
	transition: all 0.5s ease;
}

nav a {
	transition: all 0.5s ease;
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a button:hover {
	color: #ffcc00;
	transition: inherit;
}

nav img {
	background-color: #444;
	float: left;
	padding: 5px 5px;
	height: 76px;
	width: 130px;
}

.parallax {
	background-image: url("parallax.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.line {
	background-color: #ffcc00;
}



.overview {
	background-color: #333;
	text-align: center;
	top: 10px;
	margin: 20px;
}

.overview h1 {
	font-size: 40px;
}

.overview p {
	font-size: 25px;
}



.tour {
	text-align: center;
	width: 100%
}

.tour th {
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
}

.tour td {
	font-size: 25px;
	text-align: center;
}

.tour button {
	height: 70px;
	width: 135px;
	color: inherit;
	background-color: #444;
	transition: all 0.5s ease;
	cursor: pointer;
	border-radius: 12px;
	outline: 0;
}

.tour button:hover {
	transition: all 0.5s ease;
	background-color: #333;
}



.music {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.music img {
	float: left;
	padding: 25px;
	padding-left: 50px;
	transition: all 0.5s ease;
}

.music ul {
	list-style-type: none;
	float: right;
	padding-top: 20px;
	padding-left: 25%;
}

.music li {
	padding: 10px 0px;
}



.merch {
	text-align: center;
}

.merch figure {
	display: inline-block;
	padding: 10px 40px;
}

.merch button {
	height: 70px;
	width: 135px;
	color: inherit;
	background-color: #444;
	transition: all 0.5s ease;
	cursor: pointer;
	border-radius: 12px;
	outline: 0;
}

.merch button:hover {
	transition: all 0.5s ease;
	background-color: #333;
}



footer {
	max-height: 250px;
	text-align: center;
}

.media {
	float: right;
	margin-bottom: 10px;
	margin-right: 25px
}

.fa {
	width: 20px;
	color: #ccc;
	transition: all 0.5s ease;
	text-align: center;
	text-decoration: none;
}

.fa a {
	font-size: 100px;
}
  
  .fa:hover {
	color: #ffcc00;
	transition: all 0.5s ease;
}
